@import "tailwindcss";

@theme {
  --color-primary: #587e61;
  --color-secondary: #bfcfcb;
  --color-tertiary: #f4de7e;
  --color-danger: #ff4d4f;
}

@layer base {
  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
  }

  h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
  }

  h4 {
    font-size: 38px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }

  h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }
}

body {
  background: white;
}

.background-campagne {
  background-image: url("/images/campagne.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-accueil {
  background-image: url("/images/accueil.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-amatic {
  font-family: "Amatic SC", cursive;
}
