@import "tailwindcss";

@theme {
  --color-primary: #587e61;
  --color-secondary: #bfcfcb;
  --color-tertiary: #f4de7e;
}

@layer base {
  h2 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
  }
  h4 {
    font-size: 38px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }
  h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
  }
}

body {
  background: white;
}
